<!DOCTYPE html>
<html>
    <header>

    </header>
    <body>
        {{>header}}
        <div class="lateralBar">
            Yeh, esto es el index
        </div>
        <div class="mainContent">
            
        </div>
        {{>footer}}
    </body>
</html>