<!DOCTYPE html>
<html>
<header>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/js/functions.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>{{title}}</title>
</header>

<body>
    {{>header}}
        <div class="mainContent">
            {{{body}}}
        </div>
    {{>footer}}
</body>

</html>