<!DOCTYPE html>

<html>
    <header>
        <title>Register</title>
    </header>
    <body>
        {{>header}}
        <div>
            <h2>Register</h2>
            <form class="registerForm" action="/users/register" method="POST">
                <p>
                    <input name="name" class="nameInput" placeholder="Nombre" required>
                    <input name="surname" placeholder="Apellido" required>
                </p>
                <p>
                    <input name="address" placeholder="Dirección">
                    <input name="phoneNumber" placeholder="Teléfono" type="number">
                    <input name="city" placeholder="Ciudad">
                    <input name="country" placeholder="País">
                    <input name="province" placeholder="Provincia">
                    <input name="password" placeholder="Contraseña" type="password" required>
                    <input name="email" placeholder="Correo electrónico" required>
                    <button type="submit">Submit!</button>
                </p>
            </form>
            {{message}}
        </div>
        {{>footer}}
    </body>

</html>
