<!DOCTYPE html>

<html>
    <header>
        <link rel="stylesheet" href="/public/css/styles.css">
    </header>
    <body>
        <div class="header">
            <h1>TGR Mail Service</h1>

        </div>
    </body>
    

</html>